<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stateful Authentication Example | Home</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <h1>Stateful Authentication Example</h1>
    <h2>Home</h2>
    <h3>Welcome :)</h3>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
        </ul>
    </nav>
</body>
</html>