body {
    font-family: monospace;
}
div.form-control {
    margin: 15px 0px;
} 
form label {
    display: block;
}
p.error {
    color: #a00;
    margin: 10px 0px;
}
p.success {
    color: #0a0;
    margin: 10px 0px;
}